  <div
        class="banner-area banner-style-one shadow navigation-custom-large zoom-effect overflow-hidden text-light"
      >
        <!-- Slider main container -->
        <div class="banner-fade">
          <!-- Additional required wrapper -->
          <div class="swiper-wrapper">
            <!-- Single Item -->
            <div class="swiper-slide banner-style-one">
              <div
                class="banner-thumb bg-cover shadow dark"
                style="background: url(./images/imagen1.png)"
              ></div>
              <div class="container">
                <div class="row align-center">
                  <div class="col-xl-7 offset-lg-5">
                    <div class="content">
                      <h4>Auxiliares de Aseo / Empresa - Oficinas</h4>
                      <h2>Servicios Generales Outsourcing</h2>
                      <div class="button mt-40">
                        <a
                          class="btn-animation"
                          href="contratar-personal-de-aseo/index.html"
                          ><i class="fas fa-arrow-right"></i>
                          <span>Ver m&aacute;s</span></a
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Shape -->
              <div class="banner-shape-bg">
                <img
                  decoding="async"
                  src="./images/4.png"
                  alt="PuntoJack Servicios Generales y Mantenimiento locativo en Bogot&aacute;"
                />
              </div>
              <!-- End Shape -->
            </div>
            <!-- End Single Item -->
            <!-- Single Item -->
            <div class="swiper-slide banner-style-one">
              <div
                class="banner-thumb bg-cover shadow dark"
                style="background: url(./images/imagen2.png)"
              ></div>
              <div class="container">
                <div class="row align-center">
                  <div class="col-xl-7 offset-lg-5">
                    <div class="content">
                      <h4>Aseo para Obras civiles</h4>
                      <h2>Aseo Finalizaci&oacute;n obras</h2>
                      <div class="button mt-40">
                        <a
                          class="btn-animation"
                          href="aseo-fino-en-obras/index.html"
                          ><i class="fas fa-arrow-right"></i>
                          <span>Ver m&aacute;s</span></a
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Shape -->
              <div class="banner-shape-bg">
                <img
                  decoding="async"
                  src="./images/4.png"
                  alt="PuntoJack Servicios Generales y Mantenimiento locativo en Bogot&aacute;"
                />
              </div>
              <!-- End Shape -->
            </div>
            <!-- End Single Item -->
            <!-- Single Item -->
            <div class="swiper-slide banner-style-one">
              <div
                class="banner-thumb bg-cover shadow dark"
                style="background: url(./images/imagen3.png)"
              ></div>
              <div class="container">
                <div class="row align-center">
                  <div class="col-xl-7 offset-lg-5">
                    <div class="content">
                      <h4>
                        Obra Civil Menor / Oficina - Conjunto Residencial /
                        Edificio
                      </h4>
                      <h2>Toderos</h2>
                      <div class="button mt-40">
                        <a
                          class="btn-animation"
                          href="contratar-toderos-para-edificios-y-conjuntos/index.html"
                          ><i class="fas fa-arrow-right"></i>
                          <span>Ver m&aacute;s</span></a
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Shape -->
              <div class="banner-shape-bg">
                <img
                  decoding="async"
                  src="./images/4.png"
                  alt="PuntoJack Servicios Generales y Mantenimiento locativo en Bogot&aacute;"
                />
              </div>
              <!-- End Shape -->
            </div>
            <!-- End Single Item -->
            <!-- Single Item -->
            <div class="swiper-slide banner-style-one">
              <div
                class="banner-thumb bg-cover shadow dark"
                style="background: url(./images/imagen4.png)"
              ></div>
              <div class="container">
                <div class="row align-center">
                  <div class="col-xl-7 offset-lg-5">
                    <div class="content">
                      <h4>Oficinas - Conjunto Residencial - Industria</h4>
                      <h2>Jardineros</h2>
                      <div class="button mt-40">
                        <a
                          class="btn-animation"
                          href="contratar-jardineros-en-bogota/index.html"
                          ><i class="fas fa-arrow-right"></i>
                          <span>Ver m&aacute;s</span></a
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Shape -->
              <div class="banner-shape-bg">
                <img
                  decoding="async"
                  src="./images/4.png"
                  alt="PuntoJack Servicios Generales y Mantenimiento locativo en Bogot&aacute;"
                />
              </div>
              <!-- End Shape -->
            </div>
            <!-- End Single Item -->
          </div>
          <!-- Pagination -->
          <div class="swiper-pagination"></div>
        </div>
      </div>

  <h1 class="text-center mt-4" style="font-weight: 600">
    {{ (infoService.viewInfo$ | async)?.title1 }}
  </h1>
  <h2 class="text-center" style="font-weight: 500; color: gray">
    {{ (infoService.viewInfo$ | async)?.subtitle1 }}
  </h2>