<div class="container mb-5">
    <h2 class="text-center" style="font-weight: 600">
      Cu&eacute;ntanos tu necesidad y te ayudaremos &iexcl;de una!
    </h2>

    <h2 class="text-center" style="font-weight: 500; color: red">
      Formulario exclusivo para COTIZAR, no para empleo.
    </h2>

    <form action="#">
      <div class="mb-3">
        <label for="nombre" class="form-label">Nombre Completo</label>
        <input type="text" class="form-control" id="nombre" required />
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Correo Electr&oacute;nico</label>
        <input type="email" class="form-control" id="email" required />
      </div>
      <div class="mb-3">
        <label for="telefono" class="form-label">Tel&eacute;fono</label>
        <input type="tel" class="form-control" id="telefono" required />
      </div>
      <div class="mb-3">
        <label for="mensaje" class="form-label">Mensaje</label>
        <textarea
          class="form-control"
          id="mensaje"
          rows="4"
          required
        ></textarea>
      </div>
      <div class="mb-3">
        <p>
          PuntoJack SAS se compromete a proteger y respetar su privacidad, y
          solo usaremos su información personal para administrar su cuenta y
          proporcionarle los productos y servicios que nos solicitó. De vez en
          cuando, nos gustaría comunicarnos con usted acerca de nuestros
          productos y servicios, así como sobre otro contenido que pueda ser de
          su interés. Si acepta que nos comuniquemos con usted para este
          propósito, marque a continuación para indicar cómo desea que nos
          comuniquemos con usted:
        </p>
      </div>
      <div>
        <input
          type="checkbox"
          class=""
          id="terminos"
          required
          style="min-height: 0"
        />
        <label class="" for="terminos"
          >Acepto los t&eacute;rminos y condiciones</label
        >
      </div>

      <p>
        Podrás darte de baja de estas comunicaciones en cualquier momento. Para
        obtener más información sobre cómo cancelar la suscripción, nuestras
        prácticas de privacidad y cómo nos comprometemos a proteger y respetar
        su privacidad, revise nuestra Política de privacidad.
      </p>
      <p>
        Al hacer clic en Enviar, aceptas que PuntoJack SAS almacene y procese la
        información personal suministrada arriba para proporcionarte el
        contenido solicitado.
      </p>

      <button type="submit" class="btn btn-sm btn-primary">Enviar</button>
    </form>
  </div>