<!-- Start Header Top 
    ============================================= -->
<div class="top-bar-area top-bar-style-one bg-dark text-light">
  <div class="container">
    <div class="row align-center">
      <div class="col-xl-6 col-lg-8 offset-xl-3 pl-30 pl-md-15 pl-xs-15">
        <ul class="item-flex">
          <li>

            <svg width="25px" height="25px" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd"
                d="M3.37892 10.2236L8 16L12.6211 10.2236C13.5137 9.10788 14 7.72154 14 6.29266V6C14 2.68629 11.3137 0 8 0C4.68629 0 2 2.68629 2 6V6.29266C2 7.72154 2.4863 9.10788 3.37892 10.2236ZM8 8C9.10457 8 10 7.10457 10 6C10 4.89543 9.10457 4 8 4C6.89543 4 6 4.89543 6 6C6 7.10457 6.89543 8 8 8Z"
                fill="#D90000" />
            </svg>
            {{ (infoService.viewInfo$ | async)?.direccion }}
          </li>
          <li>
            <a href="tel:+57{{ (infoService.viewInfo$ | async)?.title3 }}">

              <svg width="25px" height="25px" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 5V1H7V5L4.5 7.5L8.5 11.5L11 9H15V15H11C5.47715 15 1 10.5228 1 5Z" fill="#D90000" />
              </svg>

              {{ (infoService.viewInfo$ | async)?.telefono }}</a>
          </li>
        </ul>
      </div>
      <div class="col-xl-3 col-lg-4 text-end">
        <div class="social">
          <ul>
            <li>
              <a href="{{ (infoService.viewInfo$ | async)?.facebook }}">
                <i class="fab fa-facebook-f"></i>
              </a>
            </li>
            <li>
              <a href="{{ (infoService.viewInfo$ | async)?.instagram }}">
                <i class="fab fa-instagram"></i>
              </a>
            </li>
            <li>
              <a href="{{ (infoService.viewInfo$ | async)?.linkedin }}">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Header Top -->