      <!-- Start Header Top 
    ============================================= -->
      <div class="top-bar-area top-bar-style-one bg-dark text-light">
        <div class="container">
          <div class="row align-center">
            <div class="col-xl-6 col-lg-8 offset-xl-3 pl-30 pl-md-15 pl-xs-15">
              <ul class="item-flex">
                <li>
                  <i class="fas fa-map-marker-alt"></i> Calle 149A # 115-46, Bogotá, Colombia
                </li>
                <li>
                  <a href="tel:+573001880709"
                    ><i style="font-size: 18px" class="fas fa-phone"></i>
                    3001880709</a
                  >
                </li>
              </ul>
            </div>
            <div class="col-xl-3 col-lg-4 text-end">
              <div class="social">
                <ul>
                  <li>
                    <a href="#">
                      <i class="fab fa-facebook-f"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fab fa-twitter"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fab fa-youtube"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fab fa-linkedin-in"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Header Top -->