  <div
    class="team-style-onea-rea default-padding-top pb-70 pb-xs-0 bg-contain-center bg-gray"
    style="background-image: url(./images/18.png)"
  >
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <div class="site-heading text-center">
            <h4 class="sub-heading">{{ (infoService.viewInfo$ | async)?.title5 }}</h4>
            <h2 class="title">{{ (infoService.viewInfo$ | async)?.subtitle6 }}</h2>
            <div class="devider"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        
        <!-- Single Item -->
        <div class="col-xl-3 col-md-6" *ngFor="let s of servicios">
          <div class="team-style-one active">
            <div class="thumb">
              <img
                [src]="'https://backend.puntojacksas.com/public/storage/' + s.fotoMini"
                alt="PuntoJack Servicios Generales y Mantenimiento locativo en Bogot&aacute;"
              />
              <div class="social">
                <ul>
                  <li class="facebook">
                    <a href="{{ (infoService.viewInfo$ | async)?.facebook }}">
                      <i class="fab fa-facebook-f"></i>
                    </a>
                  </li>
                  <li class="instagram">
                    <a href="{{ (infoService.viewInfo$ | async)?.instagram }}">
                      <i class="fab fa-instagram"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="info">
              <span>{{ s.keywords }}</span>
              <h4>
                <a [routerLink]="[slugify(s.slug)]">{{ s.nombre }}</a>
              </h4>
            </div>
          </div>
        </div>
        <!-- End Single Item -->

  

      </div>
    </div>
  </div>
