  <div
    class="team-style-onea-rea default-padding-top pb-70 pb-xs-0 bg-contain-center bg-gray"
    style="background-image: url(./images/18.png)"
  >
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <div class="site-heading text-center">
            <h4 class="sub-heading">{{ (infoService.viewInfo$ | async)?.title5 }}</h4>
            <h2 class="title">{{ (infoService.viewInfo$ | async)?.subtitle6 }}</h2>
            <div class="devider"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <!-- Single Item -->
        <div class="col-xl-3 col-md-6">
          <div class="team-style-one active">
            <div class="thumb">
              <img
                src="./images/aseo2.png"
                alt="PuntoJack Servicios Generales y Mantenimiento locativo en Bogot&aacute;"
              />
              <div class="social">
                <ul>
                  <li class="facebook">
                    <a href="#">
                      <i class="fab fa-facebook-f"></i>
                    </a>
                  </li>
                  <li class="twitter">
                    <a href="#">
                      <i class="fab fa-twitter"></i>
                    </a>
                  </li>
                  <li class="linkedin">
                    <a href="#">
                      <i class="fab fa-linkedin-in"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="info">
              <span>Aseo de Oficina, Limpieza Conjuntos y edificios.</span>
              <h4>
                <a href="#">Personal de Aseo</a>
              </h4>
            </div>
          </div>
        </div>
        <!-- End Single Item -->
        <!-- Single Item -->
        <div class="col-xl-3 col-md-6">
          <div class="team-style-one">
            <div class="thumb">
              <img
                src="./images/todero2.png"
                alt="PuntoJack Servicios Generales y Mantenimiento locativo en Bogot&aacute;"
              />
              <div class="social">
                <ul>
                  <li class="facebook">
                    <a href="#">
                      <i class="fab fa-facebook-f"></i>
                    </a>
                  </li>
                  <li class="twitter">
                    <a href="#">
                      <i class="fab fa-twitter"></i>
                    </a>
                  </li>
                  <li class="linkedin">
                    <a href="#">
                      <i class="fab fa-linkedin-in"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="info">
              <span>Obra civil, Arreglos locativos</span>
              <h4>
                <a href="#">Personal de Mantenimiento</a>
              </h4>
            </div>
          </div>
        </div>
        <!-- End Single Item -->
        <!-- Single Item -->
        <div class="col-xl-3 col-md-6">
          <div class="team-style-one">
            <div class="thumb">
              <img
                src="./images/jardinero1.png"
                alt="PuntoJack Servicios Generales y Mantenimiento locativo en Bogot&aacute;"
              />
              <div class="social">
                <ul>
                  <li class="facebook">
                    <a href="#">
                      <i class="fab fa-facebook-f"></i>
                    </a>
                  </li>
                  <li class="twitter">
                    <a href="#">
                      <i class="fab fa-twitter"></i>
                    </a>
                  </li>
                  <li class="linkedin">
                    <a href="#">
                      <i class="fab fa-linkedin-in"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="info">
              <span>Mantenimiento zonas verdes, Jardines</span>
              <h4>
                <a href="#">Jardineros</a>
              </h4>
            </div>
          </div>
        </div>
        <!-- End Single Item -->
        <!-- Single Item -->
        <div class="col-xl-3 col-md-6">
          <div class="team-style-one">
            <div class="thumb">
              <img
                src="./images/limpieza1.png"
                alt="PuntoJack Servicios Generales y Mantenimiento locativo en Bogot&aacute;"
              />
              <div class="social">
                <ul>
                  <li class="facebook">
                    <a href="#">
                      <i class="fab fa-facebook-f"></i>
                    </a>
                  </li>
                  <li class="twitter">
                    <a href="#">
                      <i class="fab fa-twitter"></i>
                    </a>
                  </li>
                  <li class="linkedin">
                    <a href="#">
                      <i class="fab fa-linkedin-in"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="info">
              <span
                >Edificios, Aseo fino, aseo grueso, Aseo Finalización de
                obras</span
              >
              <h4>
                <a href="https://validthemes.net/site-template/consua/#"
                  >Limpieza especializada</a
                >
              </h4>
            </div>
          </div>
        </div>
        <!-- End Single Item -->
      </div>
    </div>
  </div>