<div class="about-style-one-area default-padding">
        <div class="shape-animated-left">
          <img
            src="./images/anim-1.png"
            alt="PuntoJack Servicios Generales y Mantenimiento locativo en Bogot&aacute;"
          />
          <img
            src="./images/anim-2.png"
            alt="PuntoJack Servicios Generales y Mantenimiento locativo en Bogot&aacute;"
          />
        </div>
        <div class="container">
          <div class="row align-center">
            <div class="about-style-one col-xl-6 col-lg-5">
              <div class="h4 sub-heading">
                Compa&ntilde;ia de limpieza en Bogot&aacute;
              </div>
              <h2 class="title mb-25">
                Empresa de Limpieza. Somos Especialistas.
              </h2>
              <p>
                Nuestro equipo capacitado garantiza la excelencia en la
                ejecuci&oacute;n de tareas diarias como limpieza, mantenimiento
                y gesti&oacute;n de suministros y tambi&eacute;n aporta una
                visi&oacute;n estrat&eacute;gica para optimizar recursos y
                mejorar la productividad. Descubre c&oacute;mo podemos ayudarte
                a mantener tus instalaciones impecables y funcionales con
                soluciones personalizadas de servicios generales.
              </p>
              <div class="owner-info">
                <div class="left-info">
                  <h4>Gerencia</h4>
                  <span>PuntoJack SAS</span>
                </div>
              </div>
            </div>
            <div
              class="about-style-one col-xl-5 offset-xl-1 col-lg-6 offset-lg-1"
            >
              <div class="about-thumb">
                <img
                  class="wow fadeInRight"
                  src="./images/imagen5.png"
                  alt="PuntoJack Servicios Generales y Mantenimiento locativo en Bogot&aacute;"
                  style="visibility: visible; animation-name: fadeInRight"
                />
                <div
                  class="about-card wow fadeInUp"
                  data-wow-delay="500ms"
                  style="
                    visibility: visible;
                    animation-delay: 500ms;
                    animation-name: fadeInUp;
                  "
                >
                  <ul>
                    <li>
                      <div class="icon">
                        <img
                          style="width: 60px"
                          src="./images/certif.png"
                          alt=""
                        />
                      </div>
                      <div class="fun-fact mx-4">
                        <div class="counter">
                          <div class="timer" data-to="100" data-speed="2000">
                            100
                          </div>
                          <div class="operator">%</div>
                        </div>
                        <span class="medium"
                          >Servicios a Satisfacci&oacute;n</span
                        >
                      </div>
                    </li>
                  </ul>
                </div>
                <div
                  class="thumb-shape-bottom wow fadeInDown"
                  data-wow-delay="300ms"
                  style="
                    visibility: visible;
                    animation-delay: 300ms;
                    animation-name: fadeInDown;
                  "
                >
                  <img
                    src="./images/anim-3.png"
                    alt="PuntoJack Servicios Generales y Mantenimiento locativo en Bogot&aacute;"
                  />
                  <img
                    src="./images/anim-4.png"
                    alt="PuntoJack Servicios Generales y Mantenimiento locativo en Bogot&aacute;"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>