<div class="choose-us-style-one-area default-padding text-light">
    <div class="cover-bg" style="background-image: url(./images/7.jpg)"></div>
    <div class="shape-left-top">
      <img src="./images/17.png" alt="Shape" />
    </div>
    <div class="text-invisible">PuntoJack</div>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 pr-80">
          <div class="choose-us-style-one">
            <h2 class="title mb-35">Soluciones para tu Empresa y Oficina</h2>
            <ul class="list-item">
              <li
                class="wow fadeInUp"
                style="visibility: visible; animation-name: fadeInUp"
              >
                <h4>Empresa de servicios generales en Bogot&aacute;</h4>
                <p>
                  En PuntoJack SAS, nos especializamos en ofrecer servicios de
                  limpieza y mantenimiento de edificios, oficinas, obras civiles
                  menores y conjuntos residenciales en Bogot&aacute;
                </p>
              </li>
              <li
                class="wow fadeInUp"
                data-wow-delay="300ms"
                style="
                  visibility: visible;
                  animation-delay: 300ms;
                  animation-name: fadeInUp;
                "
              >
                <h4>24/7 Servicio al cliente</h4>
                <p>
                  Mejore la productividad y eficiencia de su negocio con
                  soluciones en outsourcing personalizadas y disponibilidad
                  24/7. &iexcl;Cont&aacute;ctenos hoy para descubrir c&oacute;mo
                  podemos ayudarle a alcanzar sus objetivos empresariales!
                </p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>