<div class="process-style-one-area text-center default-padding">
    <div class="large-shape">
      <img src="./images/11.png" alt="Shape" />
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <div class="site-heading text-center">
            <h4 class="sub-heading">Nuestros Procesos de aseo</h4>
            <h2 class="title">Caracter&iacute;sticas de nuestro personal</h2>
            <div class="devider"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <!-- Single Item -->
        <div class="col-lg-4">
          <div class="process-style-one active">
            <div class="thumb">
              <img src="./images/3.jpg" alt="Thumb" />
              <span>01</span>
            </div>
            <h4>Experiencia y Competencia</h4>
            <p>
              Garantizamos que puedan enfrentar eficazmente cualquier desafío
              operativo que pueda surgir.
            </p>
          </div>
        </div>
        <!-- End Single Item -->
        <!-- Single Item -->
        <div class="col-lg-4">
          <div class="process-style-one">
            <div class="thumb">
              <img src="./images/aseo1.png" alt="Thumb" />
              <span>02</span>
            </div>
            <h4>Adaptabilidad y Flexibilidad</h4>
            <p>
              Nos permite ofrecer soluciones personalizadas y ajustarse
              rápidamente a cambios en los requisitos del servicio.
            </p>
          </div>
        </div>
        <!-- End Single Item -->
        <!-- Single Item -->
        <div class="col-lg-4">
          <div class="process-style-one">
            <div class="thumb">
              <img src="./images/todero1.png" alt="Thumb" />
              <span>03</span>
            </div>
            <h4>Profesionalismo y Fiabilidad</h4>
            <p>
              Nuestros empleados deben demostrar un alto nivel de
              profesionalismo en su trabajo, asegurando un trato respetuoso con
              TODOS.
            </p>
          </div>
        </div>
        <!-- End Single Item -->
      </div>
    </div>
  </div>