<div class="process-style-one-area text-center default-padding">
    <div class="large-shape">
      <img src="./images/11.png" alt="Shape" />
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <div class="site-heading text-center">
            <h4 class="sub-heading">{{ (infoService.viewInfo$ | async)?.title4 }}</h4>
            <h2 class="title">{{ (infoService.viewInfo$ | async)?.subtitle5 }}</h2>
            <div class="devider"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <!-- Single Item -->
        <div class="col-lg-4">
          <div class="process-style-one active">
            <div class="thumb">
              <img src="./images/3.jpg" alt="Thumb" />
              <span>01</span>
            </div>
            <h4>{{ (infoService.viewInfo$ | async)?.process1 }}</h4>
            <p>
              {{ (infoService.viewInfo$ | async)?.desprocess1 }}
            </p>
          </div>
        </div>
        <!-- End Single Item -->
        <!-- Single Item -->
        <div class="col-lg-4">
          <div class="process-style-one">
            <div class="thumb">
              <img src="./images/aseo1.png" alt="Thumb" />
              <span>02</span>
            </div>
            <h4>{{ (infoService.viewInfo$ | async)?.process2 }}</h4>
            <p>
              {{ (infoService.viewInfo$ | async)?.desprocess2 }}
            </p>
          </div>
        </div>
        <!-- End Single Item -->
        <!-- Single Item -->
        <div class="col-lg-4">
          <div class="process-style-one">
            <div class="thumb">
              <img src="./images/todero1.png" alt="Thumb" />
              <span>03</span>
            </div>
            <h4>{{ (infoService.viewInfo$ | async)?.process3 }}</h4>
            <p>
              {{ (infoService.viewInfo$ | async)?.desprocess3 }}
            </p>
          </div>
        </div>
        <!-- End Single Item -->
      </div>
    </div>
  </div>