  <div class="home-blog-area py-5 mb-4 bottom-less" style="background: #f7f7f7;">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <div class="site-heading text-center">
            <h4 class="sub-heading">Blog</h4>
            <h2 class="title">Noticias</h2>
            <div class="devider"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <!-- Single Item -->
        <div
          class="col-xl-4 col-md-6 mb-30 wow fadeInUp"
          data-wow-delay="300ms"
        >
          <div class="blog-style-one">
            <div class="thumb">
              <a href="blog-toderosencolombia/index.html">
                <img
                  decoding="async"
                  src="./images/todero3.png"
                  alt="PuntoJack Servicios Generales y Mantenimiento locativo en Bogot&aacute;"
                />
              </a>
            </div>
            <div class="info">
              <h4>
                <a href="blog-toderosencolombia/index.html"
                  >Toderos en Colombia, Personal operativo al mejor precio</a
                >
              </h4>
              <a href="blog-toderosencolombia/index.html" class="btn-simple"
                ><i class="fas fa-angle-right"></i> Read More</a
              >
            </div>
          </div>
        </div>
        <!-- End Single Item -->
        <!-- Single Item -->
        <div
          class="col-xl-4 col-md-6 mb-30 wow fadeInUp"
          data-wow-delay="300ms"
        >
          <div class="blog-style-one">
            <div class="thumb">
              <a href="contratar-servicios-generales-bogota/index.html">
                <img
                  decoding="async"
                  src="./images/todero4.png"
                  alt="PuntoJack Servicios Generales y Mantenimiento locativo en Bogot&aacute;"
                />
              </a>
            </div>
            <div class="info">
              <h4>
                <a href="contratar-servicios-generales-bogota/index.html"
                  >&iquest;C&oacute;mo contratar servicios generales en
                  Bogot&aacute;?</a
                >
              </h4>
              <a
                href="contratar-servicios-generales-bogota/index.html"
                class="btn-simple"
                ><i class="fas fa-angle-right"></i> Read More</a
              >
            </div>
          </div>
        </div>
        <!-- End Single Item -->
        <!-- Single Item -->
        <div
          class="col-xl-4 col-md-6 mb-30 wow fadeInUp"
          data-wow-delay="300ms"
        >
          <div class="blog-style-one">
            <div class="thumb">
              <a href="aseo-de-finalizacion-de-obras/index.html">
                <img
                  decoding="async"
                  src="./images/aseo3.png"
                  alt="PuntoJack Servicios Generales y Mantenimiento locativo en Bogot&aacute;"
                />
              </a>
            </div>
            <div class="info">
              <!--<div class="blog-meta">
                    <ul>
                      <li>
                        <span>By </span>
                        <a
                          href="author/masmidiamercadeogmail-com/index.html"
                        >
                          Masmidiamercadeo@gmail.com</a
                        >
                      </li>
                      <li>junio 12, 2024</li>
                    </ul>
                  </div>-->
              <h4>
                <a href="aseo-de-finalizacion-de-obras/index.html"
                  >Aseo de finalizaci&oacute;n de Obras</a
                >
              </h4>
              <a
                href="aseo-de-finalizacion-de-obras/index.html"
                class="btn-simple"
                ><i class="fas fa-angle-right"></i> Read More</a
              >
            </div>
          </div>
        </div>
        <!-- End Single Item -->
      </div>
    </div>
  </div>